In [6]:
#Import all relevant library
import pandas as pd

In [15]:
#Load the raw file in memory
lending_data_raw = pd.read_csv("./loan_data_with_social_media_100.csv")

In [16]:
#check the size of the data
lending_data_raw.shape

(100, 42)

In [17]:
#view sample data
lending_data_raw.head()
#lending_data_raw.sample(5)

,borrower_name,borrower_uid,borrower_age,borrower_income,borrower_profession,borrower_address,borrower_pan,borrower_pincode,business_name,business_address,...,borrower_business_address_match,final_credit_score,final_loan_verdict,current_loan_request_amount,duration,linkedin_profile,facebook_profile,business_reviews,business_review_count,business_social_media_mentions
0,Panini Mody,cb67a94f-076c-49f6-9946-d91bd0bddeff,65.0,1894941.73,Massage_Therapists,"121, Savant Marg, Pondicherry 007655",2TZVAD1IVH,281037,Mahajan PLC,"H.No. 499\nSabharwal Circle, Morbi-073087",...,False,587,Rejected,2372742.50,19,http://www.lanka-mallick.com/,https://www.gala-sankaran.info/,2,978,229
1,Ranbir Bhatnagar,af5a5f7d-1ffc-4a83-ad7e-446547e0fd0d,27.0,1117052.06,Boutique Owner,"61/95, Ranganathan, Shivpuri 679634",I7ODJAD2RR,792078,Varma-Kakar,14/259\nToor Nagar\nBhimavaram 822901,...,True,304,Rejected,464651.35,25,https://www.kara.biz/,https://sachdeva.org/,2,998,148
2,Pooja Shere,c2236d7a-f01d-4b4a-980d-f6acc9b87ce1,44.0,594961.16,Digital_Marketer,30\nThaker Chowk\nIchalkaranji 988942,SGMK2YFAV0,474880,Gokhale Group,"17\nMangat Circle, Lucknow-279253",...,True,436,Rejected,6103744.57,23,http://www.oommen.info/,https://khanna-tank.org/,5,376,169
3,Januja Sagar,6a3e945a-1d41-43f0-bef7-da34125e73bc,56.0,1593239.53,Accountant,"32/07, Anne Zila\nBidar 047787",WXM5D6T0JA,750537,"Handa, Mangal and Chaudhuri","23\nNadig Chowk, Bhind 437117",...,True,455,Approved,8382929.41,29,http://boase.com/,http://mallick.com/,5,173,276
4,Suhani Parsa,9e1970e9-7c4a-4a3b-a075-1db4a63284b8,31.0,455988.85,Carpenter,"H.No. 33\nHayre Street, Tiruchirappalli-545877",3G75IC73UC,507035,Sawhney-Narayanan,"29/519, Dutta Road, Siwan-653372",...,False,679,Rejected,5613760.27,15,https://de.com/,https://ranganathan.com/,5,599,330

In [18]:
#identify the datatype
lending_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   borrower_name                    100 non-null    object
 1   borrower_uid                     100 non-null    object
 2   borrower_age                     98 non-null     float64
 3   borrower_income                  100 non-null    float64
 4   borrower_profession              100 non-null    object
 5   borrower_address                 100 non-null    object
 6   borrower_pan                     100 non-null    object
 7   borrower_pincode                 100 non-null    int64
 8   business_name                    100 non-null    object
 9   business_address                 100 non-null    object
 10  business_uid                     100 non-null    object
 11  business_TAN                     100 non-null    object
 12  business_pan                     100 non-null    object
 13  business_annual_income           100 non-null    float64
 14  business_annual_revenue          100 non-null    float64
 15  business_annual_expense          100 non-null    float64
 16  business_age                     100 non-null    int64
 17  business_sector                  100 non-null    object
 18  business_no_of_employees         100 non-null    int64
 19  business_revenue_1year           100 non-null    float64
 20  business_revenue_2year           100 non-null    float64
 21  business_revenue_3year           100 non-null    float64
 22  business_revenue_4year           100 non-null    float64
 23  loan_amount_asked                100 non-null    float64
 24  business_credit_score            100 non-null    int64
 25  loan_amount_offered              100 non-null    float64
 26  loan_interest_rate               100 non-null    float64
 27  loan_duration_months             100 non-null    int64
 28  loan_monthly_payment             100 non-null    float64
 29  business_default                 100 non-null    bool
 30  business_previous_loan           100 non-null    bool
 31  business_previous_loan_paid      100 non-null    bool
 32  borrower_business_address_match  100 non-null    bool
 33  final_credit_score               100 non-null    int64
 34  final_loan_verdict               100 non-null    object
 35  current_loan_request_amount      100 non-null    float64
 36  duration                         100 non-null    int64
 37  linkedin_profile                 100 non-null    object
 38  facebook_profile                 100 non-null    object
 39  business_reviews                 100 non-null    int64
 40  business_review_count            100 non-null    int64
 41  business_social_media_mentions   100 non-null    int64
dtypes: bool(4), float64(14), int64(10), object(14)
memory usage: 30.2+ KB

In [19]:
#identify missing values
lending_data_raw.isnull().sum()

borrower_name                      0
borrower_uid                       0
borrower_age                       2
borrower_income                    0
borrower_profession                0
borrower_address                   0
borrower_pan                       0
borrower_pincode                   0
business_name                      0
business_address                   0
business_uid                       0
business_TAN                       0
business_pan                       0
business_annual_income             0
business_annual_revenue            0
business_annual_expense            0
business_age                       0
business_sector                    0
business_no_of_employees           0
business_revenue_1year             0
business_revenue_2year             0
business_revenue_3year             0
business_revenue_4year             0
loan_amount_asked                  0
business_credit_score              0
loan_amount_offered                0
loan_interest_rate                 0
loan_duration_months               0
loan_monthly_payment               0
business_default                   0
business_previous_loan             0
business_previous_loan_paid        0
borrower_business_address_match    0
final_credit_score                 0
final_loan_verdict                 0
current_loan_request_amount        0
duration                           0
linkedin_profile                   0
facebook_profile                   0
business_reviews                   0
business_review_count              0
business_social_media_mentions     0
dtype: int64

In [12]:
#Identify column containing spaces
def has_spaces(value):
       if isinstance(value, str):
           return ' ' in value
       return False

In [14]:
columns_with_spaces = lending_data_raw.applymap(has_spaces).any()
space_containing_columns = columns_with_spaces[columns_with_spaces].index.tolist()
columns_with_spaces.head()

<ipython-input-14-b86fcfecb6f7>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  columns_with_spaces = lending_data_raw.applymap(has_spaces).any()

borrower_name           True
borrower_uid           False
borrower_age           False
borrower_income        False
borrower_profession     True
dtype: bool